version: "3.8"

services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    restart: unless-stopped

    ports:
      - "8080:8080"     # Jenkins Web UI
      - "50000:50000"   # Jenkins Agent port

    volumes:
      - jenkins_home:/var/jenkins_home
      # If you want Jenkins to use Docker on host:
      - /var/run/docker.sock:/var/run/docker.sock

    environment:
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=false

volumes:
  jenkins_home:
